@import "@/assets/css/base";
svg {
  #main-menu {
    transition: all 0.5s ease-in;
    #pointer {
      transition: all 0.2s linear;
      fill: red;
      stroke: none;
    }
    #random-selector {
      a {
        rect {
          fill: $aux-color-yellow-base;
          stroke-width: 2;
          stroke: #000000;
        }
        &:hover {
          rect {
            fill: $aux-color-green-base;
          }
        }
      }
    }
    a {
      circle {
        fill: $primary-color-base; 
        stroke: black;
        stroke-width: 2;
      }
      .active {
          transition: all 0.25s ease-in;
          circle {
            fill: $accent-color;
          }
      }
      &:hover {
        g {
          @extend .active;
        }
      }
    }
    #fruits {
      .active {
          transform: scale(1.1) translate(-32px, -32px);
      }
      &:hover {
        g {
          @extend .active;
        }
      }
    }
    #vegetables {
      .active {
        transform: scale(1.1) translate(-38px, -16px);
      }
      &:hover {
        g {
          @extend .active;
        }
      }
    }
    #kitchen-goods {
      .active {
        transform: scale(1.1) translate(-71px, -15px);
      }
      &:hover {
        g {
          @extend .active;
        }
      }
    } 
    #frozen-food
    {
      .active {
        transform: scale(1.1) translate(-77px, -32px);
      }
      &:hover {
        g {
          @extend .active;
        }
      }
    }
    #rices {
      .active {
        transform: scale(1.1) translate(-70px, -48px);
      }
      &:hover {
        g {
          @extend .active;
        }
      }
    } 
    #fishes {
      .active {
        transform: scale(1.1) translate(-55px, -55px);
      }
      &:hover {
        g {
          @extend .active;
        }
      }
    }
    #meats {
      .active {
        transform: scale(1.1) translate(-38px, -48px);
      }
      &:hover {
        g {
          @extend .active;
        }
      }
    }
    #more {
      .active {
        transform: scale(1.1) translate(-55px, -9px);
      }
      &:hover {
        g {
          @extend .active;
        }
      }
    }
    &.active {
      transform: scale(0.6) translate(0px, 233px);
    }
  }
}
