//base.scss公共的sass模块

//------------------
//公共变量
//------------------

//--字体
$font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;

//--主色次色和强调色
$primary-color-base: #f7f6f2;          
$primary-color-var1: #e4d8df;
$primary-color-var2: #d3cad0;
$primary-color-var3: #c7bec3;
$primary-color-var4: #bab2b7;

//--辅助色(偏绿)
$aux-color-green-base: #cbd8a2;
$aux-color-green-var1: #c0d197;
$aux-color-green-var2: #b5c987;
$aux-color-green-var3: #aabf77;
$aux-color-green-var4: #9bb363;

//--辅助色(偏黄)
$aux-color-yellow-base: #e6e4ac;
$aux-color-yellow-var1: #dbd997;
$aux-color-yellow-var2: #cecc7e;
$aux-color-yellow-var3: #c5c36f;
$aux-color-yellow-var4: #bcba5e;

//--强调色
$accent-color: #7fba00;           

//--提示颜色
$error-color: #fd6b6d;
$success-color: #4dc2c6;

//--文本颜色
$text-color: rgba(0, 0, 0, .87);
$secondary-text-color: rgba(0, 0, 0, .54);
$alternate-text-color: rgba(0, 0, 0, .38);

//--背景
$bg-color: #ffffff;
